<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>331010575336-gf0scqslujcis52c3joaehep96n4933n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.331010575336-gf0scqslujcis52c3joaehep96n4933n</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>331010575336-2drtsdj3esoj0eaiulpcg0gk5qac2491.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCaAHwzr-efDqJ3C7mISeDqI9ErgjJLfXI</string>
	<key>GCM_SENDER_ID</key>
	<string>331010575336</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterAppCircle</string>
	<key>PROJECT_ID</key>
	<string>flutter-circle-app</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-circle-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:331010575336:ios:6546468ed964d28582725d</string>
</dict>
</plist>